flows.json
[{"id":"5e1eb6a7.a55808","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ce747363.b026e","type":"inject","z":"5e1eb6a7.a55808","name":"Sense 5s","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":300,"wires":[["fd2f7ae6.73952","12c264f8.ee824b","9517c4f1.f5edc","168dd5f.365142a"]]},{"id":"fd2f7ae6.73952","type":"coap request","z":"5e1eb6a7.a55808","method":"GET","observe":true,"url":"coap://[aaaa::212:7402:2:202]:5683/sensors/temperature","content-format":"text/plain","raw-buffer":false,"name":"Bedroom","x":380,"y":220,"wires":[["8395b1f7.1aa3a","4b8afd19.fdec44","5ecc91fc.e56fa8","2a163707.08ab5","f3b85be6.52a3c8"]]},{"id":"8395b1f7.1aa3a","type":"ui_gauge","z":"5e1eb6a7.a55808","name":"Temperature","group":"44fcede3.2bfcec","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#0008ff","#000000","#000000"],"seg1":"","seg2":"","x":630,"y":60,"wires":[]},{"id":"12c264f8.ee824b","type":"coap request","z":"5e1eb6a7.a55808","method":"GET","observe":true,"url":"coap://[aaaa::212:7403:3:303]:5683/sensors/temperature","content-format":"text/plain","raw-buffer":false,"name":"Bathroom","x":390,"y":280,"wires":[["f5f21069.34bf38","8ee63d8e.ffb13","abf4392.354dbc8","2a163707.08ab5","f3b85be6.52a3c8"]]},{"id":"9517c4f1.f5edc","type":"coap request","z":"5e1eb6a7.a55808","method":"GET","observe":true,"url":"coap://[aaaa::212:7404:4:404]:5683/sensors/temperature","content-format":"text/plain","raw-buffer":false,"name":"Livingroom","x":390,"y":340,"wires":[["45e0881a.73b1c8","b5676f59.56bff8","a88e23d5.3f023","2a163707.08ab5","f3b85be6.52a3c8"]]},{"id":"168dd5f.365142a","type":"coap request","z":"5e1eb6a7.a55808","method":"GET","observe":true,"url":"coap://[aaaa::212:7405:5:505]:5683/sensors/temperature","content-format":"text/plain","raw-buffer":false,"name":"Kitchen","x":380,"y":400,"wires":[["84b725b2.9f2c98","eed46185.edc798","e58d1780.85861","2a163707.08ab5","f3b85be6.52a3c8"]]},{"id":"f5f21069.34bf38","type":"ui_gauge","z":"5e1eb6a7.a55808","name":"Temperature","group":"19a38c17.d61a74","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#0008ff","#000000","#000000"],"seg1":"","seg2":"","x":630,"y":100,"wires":[]},{"id":"45e0881a.73b1c8","type":"ui_gauge","z":"5e1eb6a7.a55808","name":"Temperature","group":"e650a924.86fee8","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#0008ff","#000000","#000000"],"seg1":"","seg2":"","x":630,"y":140,"wires":[]},{"id":"84b725b2.9f2c98","type":"ui_gauge","z":"5e1eb6a7.a55808","name":"Temperature","group":"d1b78fe9.f22ad","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#0008ff","#000000","#000000"],"seg1":"","seg2":"","x":630,"y":180,"wires":[]},{"id":"4b8afd19.fdec44","type":"switch","z":"5e1eb6a7.a55808","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"10","vt":"str"},{"t":"gt","v":"30","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":540,"wires":[["aa6b55ae.1d515"],["aa6b55ae.1d515"]]},{"id":"8ee63d8e.ffb13","type":"switch","z":"5e1eb6a7.a55808","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"10","vt":"str"},{"t":"gt","v":"30","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":580,"wires":[["ff2b1157.b6ef78"],["ff2b1157.b6ef78"]]},{"id":"b5676f59.56bff8","type":"switch","z":"5e1eb6a7.a55808","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"10","vt":"str"},{"t":"gt","v":"30","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":620,"wires":[["b4a88a16.9315f8"],["b4a88a16.9315f8"]]},{"id":"eed46185.edc798","type":"switch","z":"5e1eb6a7.a55808","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"10","vt":"str"},{"t":"gt","v":"30","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":660,"wires":[["1c819e73.c17df2"],["1c819e73.c17df2"]]},{"id":"aa6b55ae.1d515","type":"e-mail","z":"5e1eb6a7.a55808","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"arodriguezv156@gmail.com","dname":"","x":839,"y":540,"wires":[]},{"id":"793f0f1a.ccda28","type":"mqtt out","z":"5e1eb6a7.a55808","name":"Update 1","topic":"channels/933745/publish/fields/field1/8NDE48BXP5ZZFB9I","qos":"0","retain":"","broker":"7420702d.f05c88","x":800,"y":260,"wires":[]},{"id":"a347ec9b.ca89f8","type":"mqtt out","z":"5e1eb6a7.a55808","name":"Update 2","topic":"channels/933745/publish/fields/field2/8NDE48BXP5ZZFB9I","qos":"0","retain":"","broker":"7420702d.f05c88","x":800,"y":320,"wires":[]},{"id":"e6101653.69f29","type":"mqtt out","z":"5e1eb6a7.a55808","name":"Update 3","topic":"channels/933745/publish/fields/field3/8NDE48BXP5ZZFB9I","qos":"0","retain":"","broker":"7420702d.f05c88","x":800,"y":380,"wires":[]},{"id":"bc7c3d24.3cd4b","type":"mqtt out","z":"5e1eb6a7.a55808","name":"Update 4","topic":"channels/933745/publish/fields/field4/8NDE48BXP5ZZFB9I","qos":"0","retain":"","broker":"7420702d.f05c88","x":800,"y":440,"wires":[]},{"id":"ff2b1157.b6ef78","type":"e-mail","z":"5e1eb6a7.a55808","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"arodriguezv156@gmail.com","dname":"","x":840,"y":580,"wires":[]},{"id":"b4a88a16.9315f8","type":"e-mail","z":"5e1eb6a7.a55808","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"arodriguezv156@gmail.com","dname":"","x":840,"y":620,"wires":[]},{"id":"1c819e73.c17df2","type":"e-mail","z":"5e1eb6a7.a55808","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"arodriguezv156@gmail.com","dname":"","x":840,"y":660,"wires":[]},{"id":"5ecc91fc.e56fa8","type":"aggregator","z":"5e1eb6a7.a55808","name":"","topic":"","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":630,"y":260,"wires":[["793f0f1a.ccda28"]]},{"id":"abf4392.354dbc8","type":"aggregator","z":"5e1eb6a7.a55808","name":"","topic":"","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":630,"y":320,"wires":[["a347ec9b.ca89f8"]]},{"id":"a88e23d5.3f023","type":"aggregator","z":"5e1eb6a7.a55808","name":"","topic":"","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":630,"y":380,"wires":[["e6101653.69f29"]]},{"id":"e58d1780.85861","type":"aggregator","z":"5e1eb6a7.a55808","name":"","topic":"","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":630,"y":440,"wires":[["bc7c3d24.3cd4b"]]},{"id":"2a163707.08ab5","type":"aggregator","z":"5e1eb6a7.a55808","name":"","topic":"","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":false,"submitPerTopic":false,"aggregationType":"mean","x":630,"y":220,"wires":[["838e0971.1cbb28"]]},{"id":"838e0971.1cbb28","type":"ui_gauge","z":"5e1eb6a7.a55808","name":"Temperature","group":"9d41b29c.c25f9","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#0008ff","#000000","#000000"],"seg1":"","seg2":"","x":810,"y":220,"wires":[]},{"id":"d0295dec.0deb88","type":"mqtt out","z":"5e1eb6a7.a55808","name":"Update Home","topic":"channels/933886/publish/fields/field1/FOW65BP8CQX82VU6","qos":"0","retain":"","broker":"7420702d.f05c88","x":820,"y":500,"wires":[]},{"id":"f3b85be6.52a3c8","type":"aggregator","z":"5e1eb6a7.a55808","name":"","topic":"","intervalCount":1,"intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":630,"y":500,"wires":[["d0295dec.0deb88"]]},{"id":"36103245.0867ae","type":"ui_button","z":"5e1eb6a7.a55808","name":"AirConditioning","group":"44fcede3.2bfcec","order":0,"width":0,"height":0,"passthru":false,"label":"Air Conditioning","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1120,"y":160,"wires":[["cdf16c65.995d18"]]},{"id":"cdf16c65.995d18","type":"coap request","z":"5e1eb6a7.a55808","method":"POST","observe":false,"url":"coap://[aaaa::212:7402:2:202]:5683/actuators/toggleAirCond","content-format":"application/json","raw-buffer":false,"name":"","x":1320,"y":160,"wires":[[]]},{"id":"b33e78a5.be12f8","type":"coap request","z":"5e1eb6a7.a55808","method":"GET","observe":false,"url":"coap://[aaaa::212:7402:2:202]:5683/services/AirCond","content-format":"text/plain","raw-buffer":false,"name":"","x":1760,"y":160,"wires":[["1a539780.dc23b9"]]},{"id":"1a539780.dc23b9","type":"ui_text","z":"5e1eb6a7.a55808","group":"44fcede3.2bfcec","order":0,"width":0,"height":0,"name":"","label":"Air Conditioning (0 OFF, 1 On)","format":"{{value}}","layout":"row-spread","x":2090,"y":160,"wires":[]},{"id":"b0b10c8c.e13f58","type":"ui_button","z":"5e1eb6a7.a55808","name":"Heating","group":"44fcede3.2bfcec","order":0,"width":0,"height":0,"passthru":false,"label":"Heating","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1100,"y":200,"wires":[["58dbe7f7.e4659"]]},{"id":"58dbe7f7.e4659","type":"coap request","z":"5e1eb6a7.a55808","method":"POST","observe":false,"url":"coap://[aaaa::212:7402:2:202]:5683/actuators/toggleHeating","content-format":"application/json","raw-buffer":false,"name":"","x":1320,"y":200,"wires":[[]]},{"id":"7429bc98.f13ffc","type":"coap request","z":"5e1eb6a7.a55808","method":"GET","observe":false,"url":"coap://[aaaa::212:7402:2:202]:5683/services/Heating","content-format":"text/plain","raw-buffer":false,"name":"","x":1760,"y":200,"wires":[["18593e9e.adfb41"]]},{"id":"18593e9e.adfb41","type":"ui_text","z":"5e1eb6a7.a55808","group":"44fcede3.2bfcec","order":0,"width":0,"height":0,"name":"","label":"Heating (0 OFF, 1 On)","format":"{{value}}","layout":"row-spread","x":2070,"y":200,"wires":[]},{"id":"77ac4b6f.62cfd4","type":"ui_button","z":"5e1eb6a7.a55808","name":"Ventilation","group":"44fcede3.2bfcec","order":0,"width":0,"height":0,"passthru":false,"label":"Ventilation","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1110,"y":240,"wires":[["af519dc7.09acb"]]},{"id":"af519dc7.09acb","type":"coap request","z":"5e1eb6a7.a55808","method":"POST","observe":false,"url":"coap://[aaaa::212:7402:2:202]:5683/actuators/toggleVentilation","content-format":"application/json","raw-buffer":false,"name":"","x":1320,"y":240,"wires":[[]]},{"id":"832e5eb1.6a5988","type":"coap request","z":"5e1eb6a7.a55808","method":"GET","observe":false,"url":"coap://[aaaa::212:7402:2:202]:5683/services/Ventilation","content-format":"text/plain","raw-buffer":false,"name":"","x":1760,"y":240,"wires":[["f32c4bb4.8c281"]]},{"id":"f32c4bb4.8c281","type":"ui_text","z":"5e1eb6a7.a55808","group":"44fcede3.2bfcec","order":0,"width":0,"height":0,"name":"","label":"Ventilation (0 OFF, 1 On)","format":"{{value}}","layout":"row-spread","x":2070,"y":240,"wires":[]},{"id":"3b0c5510.ab284a","type":"ui_button","z":"5e1eb6a7.a55808","name":"AirConditioning","group":"19a38c17.d61a74","order":0,"width":0,"height":0,"passthru":false,"label":"Air Conditioning","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1120,"y":280,"wires":[["eebf25d2.2c20f"]]},{"id":"eebf25d2.2c20f","type":"coap request","z":"5e1eb6a7.a55808","method":"POST","observe":false,"url":"coap://[aaaa::212:7403:3:303]:5683/actuators/toggleAirCond","content-format":"application/json","raw-buffer":false,"name":"","x":1320,"y":280,"wires":[[]]},{"id":"3dcaf6da.7398da","type":"coap request","z":"5e1eb6a7.a55808","method":"GET","observe":false,"url":"coap://[aaaa::212:7403:3:303]:5683/services/AirCond","content-format":"text/plain","raw-buffer":false,"name":"","x":1760,"y":280,"wires":[["58e4cab1.8937e4"]]},{"id":"58e4cab1.8937e4","type":"ui_text","z":"5e1eb6a7.a55808","group":"19a38c17.d61a74","order":0,"width":0,"height":0,"name":"","label":"Air Conditioning (0 OFF, 1 On)","format":"{{value}}","layout":"row-spread","x":2090,"y":280,"wires":[]},{"id":"afd58f39.69776","type":"ui_button","z":"5e1eb6a7.a55808","name":"Heating","group":"19a38c17.d61a74","order":0,"width":0,"height":0,"passthru":false,"label":"Heating","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1100,"y":320,"wires":[["1ff09b71.e489ed"]]},{"id":"1ff09b71.e489ed","type":"coap request","z":"5e1eb6a7.a55808","method":"POST","observe":false,"url":"coap://[aaaa::212:7403:3:303]:5683/actuators/toggleHeating","content-format":"application/json","raw-buffer":false,"name":"","x":1320,"y":320,"wires":[[]]},{"id":"15123b33.ee5c95","type":"coap request","z":"5e1eb6a7.a55808","method":"GET","observe":false,"url":"coap://[aaaa::212:7403:3:303]:5683/services/Heating","content-format":"text/plain","raw-buffer":false,"name":"","x":1760,"y":320,"wires":[["4bc05839.6d56b8"]]},{"id":"4bc05839.6d56b8","type":"ui_text","z":"5e1eb6a7.a55808","group":"19a38c17.d61a74","order":0,"width":0,"height":0,"name":"","label":"Heating (0 OFF, 1 On)","format":"{{value}}","layout":"row-spread","x":2070,"y":320,"wires":[]},{"id":"142e6475.eab264","type":"inject","z":"5e1eb6a7.a55808","name":"Sense 1s","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1530,"y":380,"wires":[["15838a0f.448e4e","b33e78a5.be12f8","7429bc98.f13ffc","832e5eb1.6a5988","3dcaf6da.7398da","15123b33.ee5c95","79b6d924.73be88","42cb40ec.a242c8","4e20218c.c2b6f8","21a9f49f.449d74","c2b02c7.79c7ed","56859369.82ce5c"]]},{"id":"a7763e77.7e2e2","type":"ui_button","z":"5e1eb6a7.a55808","name":"Ventilation","group":"19a38c17.d61a74","order":0,"width":0,"height":0,"passthru":false,"label":"Ventilation","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1110,"y":360,"wires":[["65f75cdc.ff4444"]]},{"id":"65f75cdc.ff4444","type":"coap request","z":"5e1eb6a7.a55808","method":"POST","observe":false,"url":"coap://[aaaa::212:7403:3:303]:5683/actuators/toggleVentilation","content-format":"application/json","raw-buffer":false,"name":"","x":1320,"y":360,"wires":[[]]},{"id":"15838a0f.448e4e","type":"coap request","z":"5e1eb6a7.a55808","method":"GET","observe":false,"url":"coap://[aaaa::212:7403:3:303]:5683/services/Ventilation","content-format":"text/plain","raw-buffer":false,"name":"","x":1760,"y":360,"wires":[["1d351111.9a9baf"]]},{"id":"1d351111.9a9baf","type":"ui_text","z":"5e1eb6a7.a55808","group":"19a38c17.d61a74","order":0,"width":0,"height":0,"name":"","label":"Ventilation (0 OFF, 1 On)","format":"{{value}}","layout":"row-spread","x":2070,"y":360,"wires":[]},{"id":"40e091b9.1163a","type":"ui_button","z":"5e1eb6a7.a55808","name":"AirConditioning","group":"e650a924.86fee8","order":0,"width":0,"height":0,"passthru":false,"label":"Air Conditioning","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1120,"y":400,"wires":[["9f18b696.2faed8"]]},{"id":"9f18b696.2faed8","type":"coap request","z":"5e1eb6a7.a55808","method":"POST","observe":false,"url":"coap://[aaaa::212:7404:4:404]:5683/actuators/toggleAirCond","content-format":"application/json","raw-buffer":false,"name":"","x":1320,"y":400,"wires":[[]]},{"id":"79b6d924.73be88","type":"coap request","z":"5e1eb6a7.a55808","method":"GET","observe":false,"url":"coap://[aaaa::212:7404:4:404]:5683/services/AirCond","content-format":"text/plain","raw-buffer":false,"name":"","x":1760,"y":400,"wires":[["af8e3b4d.05f9a"]]},{"id":"af8e3b4d.05f9a","type":"ui_text","z":"5e1eb6a7.a55808","group":"e650a924.86fee8","order":0,"width":0,"height":0,"name":"","label":"Air Conditioning (0 OFF, 1 On)","format":"{{value}}","layout":"row-spread","x":2090,"y":400,"wires":[]},{"id":"e2545cb3.7799a8","type":"ui_button","z":"5e1eb6a7.a55808","name":"Heating","group":"e650a924.86fee8","order":0,"width":0,"height":0,"passthru":false,"label":"Heating","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1100,"y":440,"wires":[["89db57ae.81a07"]]},{"id":"89db57ae.81a07","type":"coap request","z":"5e1eb6a7.a55808","method":"POST","observe":false,"url":"coap://[aaaa::212:7404:4:404]:5683/actuators/toggleHeating","content-format":"application/json","raw-buffer":false,"name":"","x":1320,"y":440,"wires":[[]]},{"id":"42cb40ec.a242c8","type":"coap request","z":"5e1eb6a7.a55808","method":"GET","observe":false,"url":"coap://[aaaa::212:7404:4:404]:5683/services/Heating","content-format":"text/plain","raw-buffer":false,"name":"","x":1760,"y":440,"wires":[["6138114e.0ffda"]]},{"id":"6138114e.0ffda","type":"ui_text","z":"5e1eb6a7.a55808","group":"e650a924.86fee8","order":0,"width":0,"height":0,"name":"","label":"Heating (0 OFF, 1 On)","format":"{{value}}","layout":"row-spread","x":2070,"y":440,"wires":[]},{"id":"a7c3ab2a.565e28","type":"ui_button","z":"5e1eb6a7.a55808","name":"Ventilation","group":"e650a924.86fee8","order":0,"width":0,"height":0,"passthru":false,"label":"Ventilation","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1110,"y":480,"wires":[["d1db8f63.98e408"]]},{"id":"d1db8f63.98e408","type":"coap request","z":"5e1eb6a7.a55808","method":"POST","observe":false,"url":"coap://[aaaa::212:7404:4:404]:5683/actuators/toggleVentilation","content-format":"application/json","raw-buffer":false,"name":"","x":1320,"y":480,"wires":[[]]},{"id":"4e20218c.c2b6f8","type":"coap request","z":"5e1eb6a7.a55808","method":"GET","observe":false,"url":"coap://[aaaa::212:7404:4:404]:5683/services/Ventilation","content-format":"text/plain","raw-buffer":false,"name":"","x":1760,"y":480,"wires":[["c796d7dc.0e1508"]]},{"id":"c796d7dc.0e1508","type":"ui_text","z":"5e1eb6a7.a55808","group":"e650a924.86fee8","order":0,"width":0,"height":0,"name":"","label":"Ventilation (0 OFF, 1 On)","format":"{{value}}","layout":"row-spread","x":2070,"y":480,"wires":[]},{"id":"22ac3a26.aa0e5e","type":"ui_button","z":"5e1eb6a7.a55808","name":"AirConditioning","group":"d1b78fe9.f22ad","order":0,"width":0,"height":0,"passthru":false,"label":"Air Conditioning","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1120,"y":520,"wires":[["2882313e.a06756"]]},{"id":"2882313e.a06756","type":"coap request","z":"5e1eb6a7.a55808","method":"POST","observe":false,"url":"coap://[aaaa::212:7405:5:505]:5683/actuators/toggleAirCond","content-format":"application/json","raw-buffer":false,"name":"","x":1320,"y":520,"wires":[[]]},{"id":"21a9f49f.449d74","type":"coap request","z":"5e1eb6a7.a55808","method":"GET","observe":false,"url":"coap://[aaaa::212:7405:5:505]:5683/services/AirCond","content-format":"text/plain","raw-buffer":false,"name":"","x":1760,"y":520,"wires":[["9b6b5ca8.d64c5"]]},{"id":"9b6b5ca8.d64c5","type":"ui_text","z":"5e1eb6a7.a55808","group":"d1b78fe9.f22ad","order":0,"width":0,"height":0,"name":"","label":"Air Conditioning (0 OFF, 1 On)","format":"{{value}}","layout":"row-spread","x":2090,"y":520,"wires":[]},{"id":"9cf7fc5.07e6b","type":"ui_button","z":"5e1eb6a7.a55808","name":"Heating","group":"d1b78fe9.f22ad","order":0,"width":0,"height":0,"passthru":false,"label":"Heating","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1100,"y":560,"wires":[["287e4b3d.442aec"]]},{"id":"287e4b3d.442aec","type":"coap request","z":"5e1eb6a7.a55808","method":"POST","observe":false,"url":"coap://[aaaa::212:7405:5:505]:5683/actuators/toggleHeating","content-format":"application/json","raw-buffer":false,"name":"","x":1320,"y":560,"wires":[[]]},{"id":"c2b02c7.79c7ed","type":"coap request","z":"5e1eb6a7.a55808","method":"GET","observe":false,"url":"coap://[aaaa::212:7405:5:505]:5683/services/Heating","content-format":"text/plain","raw-buffer":false,"name":"","x":1760,"y":560,"wires":[["43bfebb7.9c9a0c"]]},{"id":"43bfebb7.9c9a0c","type":"ui_text","z":"5e1eb6a7.a55808","group":"d1b78fe9.f22ad","order":0,"width":0,"height":0,"name":"","label":"Heating (0 OFF, 1 On)","format":"{{value}}","layout":"row-spread","x":2070,"y":560,"wires":[]},{"id":"5a1814d3.a6fa5c","type":"ui_button","z":"5e1eb6a7.a55808","name":"Ventilation","group":"d1b78fe9.f22ad","order":0,"width":0,"height":0,"passthru":false,"label":"Ventilation","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1110,"y":600,"wires":[["54eb2824.a57"]]},{"id":"54eb2824.a57","type":"coap request","z":"5e1eb6a7.a55808","method":"POST","observe":false,"url":"coap://[aaaa::212:7405:5:505]:5683/actuators/toggleVentilation","content-format":"application/json","raw-buffer":false,"name":"","x":1320,"y":600,"wires":[[]]},{"id":"56859369.82ce5c","type":"coap request","z":"5e1eb6a7.a55808","method":"GET","observe":false,"url":"coap://[aaaa::212:7405:5:505]:5683/services/Ventilation","content-format":"text/plain","raw-buffer":false,"name":"","x":1760,"y":600,"wires":[["96117046.f7954"]]},{"id":"96117046.f7954","type":"ui_text","z":"5e1eb6a7.a55808","group":"d1b78fe9.f22ad","order":0,"width":0,"height":0,"name":"","label":"Ventilation (0 OFF, 1 On)","format":"{{value}}","layout":"row-spread","x":2070,"y":600,"wires":[]},{"id":"f56b0f0c.bd392","type":"mqtt in","z":"5e1eb6a7.a55808","name":"Suscribe Bedroom","topic":"channels/933745/subscribe/fields/field1/4HVV38KE1TN5AH9C","qos":"0","datatype":"auto","broker":"7420702d.f05c88","x":2390,"y":220,"wires":[["42c24936.d718d8"]]},{"id":"42c24936.d718d8","type":"ui_chart","z":"5e1eb6a7.a55808","name":"","group":"44fcede3.2bfcec","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":2630,"y":220,"wires":[[],[]]},{"id":"54fd2839.12ac98","type":"mqtt in","z":"5e1eb6a7.a55808","name":"Suscribe Bathroom","topic":"channels/933745/subscribe/fields/field2/4HVV38KE1TN5AH9C","qos":"0","datatype":"auto","broker":"7420702d.f05c88","x":2390,"y":260,"wires":[["88a396be.66323"]]},{"id":"88a396be.66323","type":"ui_chart","z":"5e1eb6a7.a55808","name":"","group":"19a38c17.d61a74","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":2630,"y":260,"wires":[[],[]]},{"id":"ae56f6ce.227fe8","type":"mqtt in","z":"5e1eb6a7.a55808","name":"Suscribe Livingroom","topic":"channels/933745/subscribe/fields/field3/4HVV38KE1TN5AH9C","qos":"0","datatype":"auto","broker":"7420702d.f05c88","x":2400,"y":300,"wires":[["1f0ac0a7.bd6bbf"]]},{"id":"1f0ac0a7.bd6bbf","type":"ui_chart","z":"5e1eb6a7.a55808","name":"","group":"e650a924.86fee8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":2630,"y":300,"wires":[[],[]]},{"id":"b21fd44c.f4f83","type":"mqtt in","z":"5e1eb6a7.a55808","name":"Suscribe Kitchen","topic":"channels/933745/subscribe/fields/field4/4HVV38KE1TN5AH9C","qos":"0","datatype":"auto","broker":"7420702d.f05c88","x":2390,"y":340,"wires":[["f79e0f77.8fbde"]]},{"id":"f79e0f77.8fbde","type":"ui_chart","z":"5e1eb6a7.a55808","name":"","group":"d1b78fe9.f22ad","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":2630,"y":340,"wires":[[],[]]},{"id":"c3b17fa7.950868","type":"mqtt in","z":"5e1eb6a7.a55808","name":"Suscribe Home","topic":"channels/933886/subscribe/fields/field1/56CDA46SL7RPAKZA","qos":"0","datatype":"auto","broker":"7420702d.f05c88","x":2380,"y":380,"wires":[["e604e653.12f19"]]},{"id":"e604e653.12f19","type":"ui_chart","z":"5e1eb6a7.a55808","name":"","group":"9d41b29c.c25f9","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":2630,"y":380,"wires":[[],[]]},{"id":"44fcede3.2bfcec","type":"ui_group","z":"","name":"Bedroom","tab":"98b8f2e2.3f6e68","disp":true,"width":"6","collapse":false},{"id":"19a38c17.d61a74","type":"ui_group","z":"","name":"Bathroom","tab":"98b8f2e2.3f6e68","disp":true,"width":"6","collapse":false},{"id":"e650a924.86fee8","type":"ui_group","z":"","name":"Living Room","tab":"98b8f2e2.3f6e68","disp":true,"width":"6","collapse":false},{"id":"d1b78fe9.f22ad","type":"ui_group","z":"","name":"Kitchen","tab":"98b8f2e2.3f6e68","disp":true,"width":"6","collapse":false},{"id":"7420702d.f05c88","type":"mqtt-broker","z":"","name":"thingspeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"mwa0000017065151","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9d41b29c.c25f9","type":"ui_group","z":"","name":"Home","tab":"98b8f2e2.3f6e68","disp":true,"width":"6","collapse":false},{"id":"98b8f2e2.3f6e68","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]